<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseName</key>
	<string>CrimLab</string>
	<key>LastBackup</key>
	<date>2013-07-12T13:21:00Z</date>
	<key>PropertyModification</key>
	<date>2013-06-04T14:03:12Z</date>
	<key>SearchComparison</key>
	<integer>1</integer>
	<key>SearchGlobal</key>
	<true/>
	<key>SearchPrefix</key>
	<true/>
	<key>SearchWhat</key>
	<integer>65535</integer>
	<key>Spotlight</key>
	<true/>
	<key>openedByHost</key>
	<data>
	cFaBtKpl
	</data>
</dict>
</plist>
