<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlphaNumeric</key>
	<true/>
	<key>DatabaseName</key>
	<string>School</string>
	<key>History</key>
	<false/>
	<key>LastBackup</key>
	<date>2013-04-27T20:10:19Z</date>
	<key>MaxWordLength</key>
	<integer>50</integer>
	<key>MinWordLength</key>
	<integer>3</integer>
	<key>Properties</key>
	<false/>
	<key>PropertyModification</key>
	<date>2012-10-05T18:23:11Z</date>
	<key>SearchComparison</key>
	<integer>1</integer>
	<key>SearchGlobal</key>
	<true/>
	<key>SearchPrefix</key>
	<true/>
	<key>SearchWhat</key>
	<integer>65535</integer>
	<key>Spotlight</key>
	<true/>
	<key>ThinkWindowState</key>
	<array>
		<dict>
			<key>Key</key>
			<string>ContentsBrowser-School.dtBase2-0</string>
			<key>UUID</key>
			<string>83D6BB1A-E059-4FCA-984F-6AEE4F8AEDB2</string>
		</dict>
	</array>
	<key>openedByHost</key>
	<data>
	cFaBtKpl
	</data>
</dict>
</plist>
