<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseName</key>
	<string>School</string>
	<key>LastBackup</key>
	<date>2012-10-05T18:23:11Z</date>
	<key>PropertyModification</key>
	<date>2012-10-05T18:23:11Z</date>
	<key>Spotlight</key>
	<true/>
	<key>isOpen</key>
	<true/>
	<key>openedByHost</key>
	<data>
	cFaBtKpl
	</data>
</dict>
</plist>
